@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
.onboarding-splash {
  align-items: flex-start;
  background-color: white;
  display: flex;
  width: 360px;
}
.onboarding-splash .kyber-logo-large {
  height: 391px;
  object-fit: cover;
  width: 193px;
}
.onboarding-splash .logo-container {
  align-items: center;
  background-color: white;
  display: flex;
  height: 417px;
  min-width: 211px;
  padding: 0 9px;
}
.onboarding-splash .splash-container {
  align-items: flex-start;
  display: flex;
  height: 640px;
  padding: 87px 74px;
  width: 360px;
}
* {
  box-sizing: border-box;
}
