@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
.secret-key-modal {
  align-items: flex-start;
  display: flex;
  width: 360px;
}
.secret-key-modal .qr-code-container {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 444px;
  overflow: hidden;
  padding: 31px 0;
  width: 324px;
}
.secret-key-modal .qr-code-label {
  letter-spacing: 0px;
  margin-left: 28px;
  min-height: 52px;
  min-width: 112px;
}
.secret-key-modal .qr-image {
  height: 324px;
  object-fit: cover;
  width: 324px;
}
.secret-key-modal .secret-key-modal-container {
  align-items: center;
  background-color: var(--prussian-blue);
  display: flex;
  height: 640px;
  padding: 0 18px;
  width: 360px;
}
* {
  box-sizing: border-box;
}
.roboto-regular-normal-malibu-44px {
  color: var(--malibu);
  font-family: var(--font-family-roboto-regular);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 400;
}
:root {
  --font-family-roboto-regular: "Roboto-Regular", Helvetica;
  --font-size-xxxxxl: 44px;
  --malibu: rgba(139, 201, 248, 1);
  --prussian-blue: rgba(6, 52, 89, 0.8);
  --white: rgba(255, 255, 255, 1);
}
