<ion-content>
  <div class="login">
    <div class="login-container">
      <div class="logo-container">
        <img
          class="kyber-logo-medium"
          src="https://anima-uploads.s3.amazonaws.com/projects/606c96bc1a30d7d0a20c78bd/releases/6072564d08400d11b65300f5/img/kyber-1-3@2x.png"
        />
      </div>

      <!-- This -> button will animate a glow around the circle -->
      <!-- This button is a HOLD > biometric, Slide Up > Login-Password, Slide Down > Login-Pin -->
      <!-- replace this button image with ionic or angular component -->
      <img
        class="login-btn"
        src="https://anima-uploads.s3.amazonaws.com/projects/606c96bc1a30d7d0a20c78bd/releases/6072564d08400d11b65300f5/img/ellipse-23@2x.svg"
      />
    </div>
  </div>
</ion-content>
